In [1]:
from math import *
log2(8)

3.0

In [4]:
0*log2(0)

ValueError: math domain error

In [5]:
def entropy(p,n):
    if p == 0 or n == 0:
        return 0;
    else:
        pr = p/(p+n)
        nr = n/(p+n)
        return -pr*log2(pr) - nr*log2(nr)
entropy(9,5)

0.9402859586706311

In [1]:
3

3

In [2]:
# NumPy, la libreria numerica de Python
import numpy as np
import pandas as pd
# Make the array `my_array`
#my_array = np.array([[1,2,3,4], [5,6,7,8]], dtype=np.int64)

#a = np.genfromtxt("probando.csv", dtype = 'int8' , delimiter = ",", skip_header = 1)

# Print `my_array`
#print(my_array)
#print(a)
#print(a.dtype)

b = pd.read_csv("probando.csv")
#print(b)
b

   X1  X2  CLASS
0   1   1      1
1   1   1      1
2   1   0      0
3   0   0      1
4   0   1      0
5   0   1      0

In [3]:
b

   X1  X2  CLASS
0   1   1      1
1   1   1      1
2   1   0      0
3   0   0      1
4   0   1      0
5   0   1      0

In [ ]:
print b